[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u isecap.py
WorkingDirectory=/opt/iseskating
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
