[Unit]
Description=ISE Skating NAC Bypass
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 -u iseskate.py
WorkingDirectory=/opt/iseskating
User=root

[Install]
WantedBy=multi-user.target
